
@import url(https://fonts.googleapis.com/css?family=Lato);

html{
  height: 100%;
}

.container {
  font-family: 'Lato', sans-serif;
  align-items: center;
  height: 100%;

}

h1 {
  font-size: 6em;
  padding: 7px;
  text-align: center;
}

h2{
  font-size: 3em;
  color: #449AE4;
}

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.typed{
  color: #B555B2;
}


p{
  font-size: 2em;
  text-align : justify;
}


nav ul {
	list-style: none;
  overflow: hidden;
  position: relative;
}
nav ul li {
		float: left;
    margin: 0 20px 0 0;
}

nav ul li a {
	display: block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

nav ul li:nth-child(1) a {
	background-color: #5bb2fc;
	background-position: 28px 28px;
  /*background-repeat : no-repeat;
  background-image:url(image/joueur.png);*/
}
nav ul li:nth-child(2) a {
	background-color: #58ebd3;
	background-position: 28px -96px;
}
nav ul li:nth-child(3) a {
	background-color: #ffa659;
	background-position: 28px -222px;
}
nav ul li:nth-child(4) a {
	background-color: #ff7a85;
	background-position: 28px -342px;
}
nav ul li:nth-child(5) a {
	background-color: #ECDC81;
	background-position: 28px 28px;
}
nav ul li:nth-child(6) a {
	background-color: #94EC81;
	background-position: 28px -222px;
}
nav ul li:nth-child(7) a {
	background-color: #EC81E3;
	background-position: 28px -342px;
}
nav ul li a span {
	font: 40px "Dosis", sans-serif; text-transform: uppercase;
	position: absolute; left: 700px; top: 29px;
	display: none;
}

nav ul li a:hover span {
	display: block;
}

nav ul li:nth-child(1) a span {
color: #5bb2fc;
}
nav ul li:nth-child(2) a span {
color: #58ebd3;
}
nav ul li:nth-child(3) a span {
color: #ffa659;
}
nav ul li:nth-child(4) a span {
color: #ff7a85;
}
nav ul li:nth-child(5) a span {
color: #ECDC81;
}
nav ul li:nth-child(6) a span {
color: #94EC81;
}
nav ul li:nth-child(7) a span {
color: #EC81E3;
}
