@import url(https://fonts.googleapis.com/css?family=Lato);
.container {
  /*background-color: #131313;*/
  font-family: 'Lato', sans-serif;
  /*width: 80%;*/
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 50px;
  margin-left: 30px;
}

html{
  height: 100%;
}

h1 {
  font-size: 5em;
  padding: 7px;
  text-align: center;
}

.typed-cursor{
   opacity: 1;
   animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed{
  color: #B555B2;
}

p{
  font-size: 3em;
  text-align : justify;
}
