

body{
	background: url(image/carre.png)  center ;
	margin:0;
	color:#6a6f8c;
	
	font:600 16px/18px 'Open Sans',sans-serif;

}

.inscription img{
 width: 201;
    

  }

 .connexion img{
 	 width: 250px;
 }


/* mettre Le formulaire au dessus des boules*/
div.agar {position: absolute; z-index: 4;}
div.inscription {position: fixed; z-index: 2;}
div.connexion{position: fixed; z-index: 2;}


a{color:inherit;text-decoration:none}



/*Inscription c'est le div au dessus */
.inscription,.connexion{
	left: 30%; 
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:100%;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}


/**/


/*div oû on possitione les textes*/
.html-connexion{
	width:100%;
	height:100%;
	position:absolute;
	padding:0px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}

.html-inscription{
	width:100%;
	height:100%;
	position:absolute;
	padding:0px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}



/*div oû on modifie la forme du fomrulaire*/




.forme .group .label,
.forme .group .input,
.forme .group .button{
	width:100%;

	color:#fff;
	display:block;
}


.forme .group .input,
.forme .group .button{
	border:none;
	padding:4px 15px;
	border-radius:25px;
	background:rgba(255,255,255,.1);

}

.connexion .forme .group .input,
.connexion .forme .group .button{
	padding:15px 15px;
}


.forme .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.forme .group .label{
	color:#aaa;
	font-size:12px;
}
.forme .group .button{
	background:#1161ee;
}



/* creer une ligne*/
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
/**/
.foot{
	text-align:center;
}

.group{
	padding-top: 30px;

}

.inscription .group{
	padding-top: 15px;

}

.inscription .hr{
	margin:20px 0 20px 0;
}


/*bouton pour fermer et revenir à la page d'acceuil*/
#close-button {
		border-radius: 50%;
		width: 50px;
		height: 50px;
		background-color: #d26960;
		float: right;
		position: relative;
		left: 17%;
		cursor: pointer;
}

#close-button:before {
		content: '\2716';
		font-size: 1.7em;
		position: relative;
		top: 15px;
		left: 14px;
}




.inscription .forme{
	  margin-left: auto;
  margin-right: auto;
	width: 80%
}