@import url('http://www.daugaard47.com/misc/css/amazium.css');
@import url('http://www.daugaard47.com/misc/css/base.css');



.white-bg{background-color:#f8f8f8;}
.red3-tx{color:#981B1E;}
.blue3-tx{color:#041E2B}
.blue4-tx{color:#034A68}


.row{
    margin-top: 62px;
}

.box{
    border: 1px solid #CDCED0;
    margin-bottom: 25px;
    padding: 20px;
}
.max-img:{width:100%; height:auto;}





.selectedMember>img {
     border-color: #981B1E;
}

.selectedMember a>img {
     border-color: #981B1E;
}

#staffDirectory ul li
{
    opacity: 0.9;
}


#staffDirectory li:hover{
    opacity: 1;
}



.selectedMember {
    opacity: 1.0 !important;
}


.staffSelected {
    display: inherit;
}

#staffMember li:not(.staffSelected) {
    display: none;
}

#staffMember li {
   display:none;
}

#staffMember li.staffSelected {
   display:inherit;
}

.team li{
display:inline-block;
float:left;
margin-bottom: 10px;
margin-right: 5%;
width:28%;
cursor: pointer;
}

.headshots{
border:5px solid #034A68;

}


.headshots:hover{
border:5px solid #981B1E;

}

.headshots:active{
border:5px solid #981B1E;

}

.headshots-red{
	border:5px solid #981B1E;
	margin-bottom:25px;
	height: auto;
    width: 98%;
}



body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
}




.changerImage > input{
  display: none;
}
