


/* includ des polices spécifique */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}




body {

	background: url(image/carre.png)  center ;

}



/* Modification Pour les div*/
div {
   /*aligner Le text au centre du div*/
     text-align: center;
     /*ajouter un bordure*/
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.30), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#inscriptionDiv{
  /* Pour changer la forme d'un div*/
  border-radius:50%; 
  /*largeur*/
  width:190px;
  /*longeur*/
  height:190px;

   /*Position à gauche*/
  left: 10%; 
  /*Position haut*/
  top: 5%;
  /*Fixer*/
  position: fixed;
}


#aproposDiv{
 /* Pour changer la forme d'un div*/
  border-radius:50%;
  /*largeur*/
  width:190px;
   /*longeur*/
  height:190px;

 /*Position à gauche*/
  left: 10%; 
  /*Position haut*/
  top: 65%;
  /*Fixer*/
   position: fixed;
}

#connexionDiv{
 /* Pour changer la forme d'un div*/
  border-radius:50%;
  /*largeur*/
  width:190px;
   /*longeur*/
  height:190px;

  /*Position à gauche*/
  left: 80%;
  /*Position haut*/ 
  top: 5%;
   /*Fixer*/
 position: fixed;
}


#classementDiv{
  /* Pour changer la forme d'un div*/
  border-radius:50%;
  /*largeur*/
  width:190px;
  /*longeur*/
  height:190px;
/*Fixer*/
  position: fixed;
   /*Position à gauche*/ 
  left: 80%; 
   /*Position haut*/
  top: 65%;

}

#jouerDiv{  
   position: fixed;
  border-radius:50%;
  width:250px;
  height:250px;
  
  outline: none;
  
  left: 40%; 
  top: 25%;
  -webkit-transition: width 10s, height 10s; /* Safari */
   transition: width 2s, height 4s;

transform-style:preserve-3d;
  

}



/* Modification Pour les textes qui sont dans le div*/

/* enlever decoration pour lien */
#container a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#container p {
  transform: translate(0px,40px);
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0 20px 0;
}

#jouerDiv p{
  transform: translate(0px,50px);
  text-align: center;
  font-size: 4em;
  margin: 20px 0 20px 0;
}

p{
  color: #BA01FF;
  font-family: Audiowide;
}

p:hover {

  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:hover {
  color: #ff00de;
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}



/* Passer la souris sur un div*/
#jouerDiv:hover{
 
	 color:white;
      text-shadow:0 0 15px #111;
    
		padding:25px;
     
      
}

 #classementDiv:hover{
   color:white;
      text-shadow:0 0 15px #111;
    
    padding:27px;
     font-size: 1.4em;
      
}
#aproposDiv:hover{
   color:white;
      text-shadow:0 0 15px #111;
    
    padding:25px;
     font-size: 1.5em;
   
}
#connexionDiv:hover{
   color:white;
      text-shadow:0 0 15px #111;
    
    padding:25px;
     font-size: 1.5em;
     
}
#inscriptionDiv:hover{
   color:white;
      text-shadow:0 0 15px #111;
    
    padding:25px;
     font-size: 1.4em;
     
}



/* activate */


#aproposDiv:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}  

#classementDiv:active {
 
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#connexionDiv:active {
 
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#inscriptionDiv:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

#jouerDiv:active {
 
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



