{% extends "base.html" %}


    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='aide.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    {% endblock %}


    {% block scripts %}
		{{ super() }}

		<script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
		<script src="{{ url_for('static', filename='typed/js/typed.js') }}"></script>



	{% endblock %}

{% block contentbase %}


<div class="container" >

  <h1> Bienvenue sur <span class="typed">Agar.IA</span> <br></h1>

  <br>
  <br>
  <p>
    Le but du jeu est de développer une intelligence artificielle contrôlant un cercle de couleur, soit une cellule.
  </p>

  <p>
    Cette page d’aide explique en détail tous les mécanismes du jeu : le déplacement des cellules, le déroulement du jeu, les aptitudes, les tournois…
    Vous pouvez trouver un tutoriel sur la programmation des intelligences artificielles sur la page Tutoriel.
  </p>

  <br>
  <br>
  <div id="demo">
  	<nav>
  		<ul>

        <li>
  				<a href="#joueurs">
  					<span>Joueurs</span>
  				</a>
  			</li>

        <li>
  				<a href="#groupes">
  					<span>Groupes</span>
  				</a>
  			</li>

        <li>
  				<a href="#boules">
  					<span>Cellule</span>
  				</a>
  			</li>

        <li>
          <a href="#terrain">
            <span>Terrain</span>
          </a>
        </li>

        <li>
          <a href="#deroulement-partie">
            <span>Partie</span>
          </a>
        </li>

        <li>
          <a href="#classement">
            <span>Classement</span>
          </a>
        </li>

        <li>
          <a href="#tournois">
            <span>Tournois</span>
          </a>
        </li>

  		</ul>
  	</nav>
  </div>

  <div id="joueurs">
      <h2> <font color="#5bb2fc"> Les joueurs </font> <br> </h2>
        <p style="text-indent:2em">
          Dans Agar.IA vous contrôlez une cellule.
          Votre but est de développer l’intelligence artificielle d’une cellule dans un univers similaire à celui du célèbre jeu Agar.io, où le but est de contrôler une cellule afin de la faire grossir et de pouvoir manger les autres joueurs pour progresser.
          Le but du jeu est également le même pour Agar.IA sauf que vous ne contrôlez pas directement votre cellule et qu’il faut donc essayer de faire le meilleur programme afin de battre tous vos adversaires.
        </p>
  </div>

  <div id="groupes">
      <h2> <font color="#58ebd3"> Les groupes </font> <br> </h2>
        <p style="text-indent:2em">
          Les joueurs peuvent appartenir à un groupe. Ils sont mis en groupe par les administrateurs. Cela permet à tous les membres du groupe de suivre leur progression ainsi que de participer ensemble à des tournois.
        </p>
  </div>

  <div id="boules">
      <h2> <font color="#ffa659"> Les cellules </font> <br> </h2>
        <p style="text-indent:2em">
          Les boules que vous allez contrôler auront certaines caractéristiques :
        </p>
        <p>
          - Taille : La taille de la cellule influe sur la vitesse de déplacement. Plus la taille d’une cellule est importante et plus la vitesse de celle-ci en sera diminuée, cependant, plus une cellule est grande et plus elle pourra manger des cellules imposantes. Pour augmenter la taille d’une cellule, les joueurs peuvent, soit manger des petites cellules, soit manger les autres joueurs.
        </p>
        <p>
          - Position : Lorsque votre intelligence artificielle est lancée, votre boule atterrit aléatoirement sur le terrain comme ses adversaires. Elle peut ensuite se déplacer en fonction de votre programme.
        </p>
<br>
        <p style="text-indent:2em">
          Pour déplacer la cellule, vous devrez déposer un programme lui permettant de se déplacer, sans quoi il vous sera très difficile de gagner. Vous pourrez modifier son déplacement et sa vitesse en fonction de sa position et de sa taille tout en tenant compte de la position des autres cellules ainsi que de leur propre taille. Agar.IA est une jungle : il faut réussir à manger sans être mangé.
        </p>
  </div>

  <div id="terrain">
      <h2> <font color="#ff7a85"> Le terrain </font> <br> </h2>
        <p style="text-indent:2em">
          Le monde dans lequel va évoluer votre intelligence artificielle a une taille limitée, il faudra donc en tenir compte afin de ne pas rester bloqué. Le monde contient des petites cellules immobiles que votre cellule va pouvoir manger afin de grandir. De plus, le monde verra également d’autre joueurs qui lutteront avec vous pour essayer de gagner.
        </p>
  </div>

  <div id="deroulement-partie">
      <h2> <font color="#ECDC81"> Le déroulement d’une partie </font> <br> </h2>
        <p style="text-indent:2em">
          Lorsque le programme sera déposé, le jeu pourra être lancé. Vous pourrez observer le déplacement de votre cellule sur la carte avec celles des autres joueurs. À la fin de la partie, les joueurs vont gagner ou perdre des points en fonction de leur classement. Ces points vont influencer le classement global. Une partie s'arrête lorsqu’il ne reste plus qu’un seul survivant ou lorsque la partie a duré assez longtemps, dans ce cas les joueurs restants sont classés en fonction de leur taille.
        </p>
  </div>

  <div id="classement">
      <h2> <font color="#94EC81"> Le classement </font> <br> </h2>
        <p style="text-indent:2em">
          Un classement global est disponible pour permettre à chaque joueur de se comparer avec les autres. On peut y voir le nombre de parties gagnées et perdues pour chaque joueur ainsi que leur nombre de points, qui évolue en fonction d’une partie jouée.
        </p>
  </div>

  <div id="tournois">
      <h2> <font color="#EC81E3"> Les tournois </font> <br> </h2>
        <p style="text-indent:2em">
          Les membres d’un groupe peuvent parfois, à la demande d’un administrateur, participer à un tournoi où les intelligences artificielles de leur cellule pourront combattre les unes contre les autres. Plusieurs groupes pourront également combattre tous en même temps.
        </p>
  </div>





{% endblock %}
