
{% extends "base.html" %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='classements.css') }}">

    {% endblock %}

      {% block scripts %}
    {{super()}}

   <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
    </script>
    <script src="{{url_for('.static', filename='classements.js')}}"></script>

  {% endblock %}

{% block contentbase %}
<div class="container-table">
  <table id="datatable">

  <thead>
    <tr class="odd">
      <th class='prop__name'>Pseudo</th>
      <th class='prop__name'>Classement</th>
      <th class='prop__name'>Score</th>
      <th class='prop__name'>Victoires</th>
      <th class='prop__name'>Défaites</th>
    </tr>
  </thead>
  
  <tbody>
      {% for pseudo,score,def,vic,class in classements %}
        <tr >
            <td class='prop__name'>{{ pseudo }}</td>
            <td class='prop__name'>{{ class }}</td>
            <td class='prop__name'>{{ score }}</td>
            <td class='prop__name'>{{ vic }}</td>
            <td class='prop__name'>{{ def }}</td>
       </tr>

      {% endfor %}
  </tbody>


</table>
</div>



{% endblock %}
