
{% extends "base.html" %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    {% endblock %}


{% block contentbase %}
<section class="contact-groupe">
        <div class="container">

            <div class="row">
            <!-- bootstrap  col-md-3 col-sm-6 col-xs-12 -->


                 <div id="img1" class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/wallee.jpg') }}" alt="xxx" class="img-rounded img-responsive img-taille"></a>
                        <div class="block-animation">

                            <h3>Mme. WALLEE <br><span>chef d'equipe </span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/lucie.wallee"><i class="fa fa-facebook"></i></a>
                                <a href=" https://plus.google.com/u/0/117934795129476448510/posts"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABsvhlgBAW9MQJLSMx-qvTyzcscVYNljvLE&authType=NAME_SEARCH&authToken=Oa-h&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A456099416%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533793936%2Ctas%3Alucie"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/yassine.jpg') }}" alt="xxx" class="img-rounded img-responsive img-taille"></a>
                        <div class="block-animation">

                            <h3>M. ElGHONNAJI <br><span>Développeur Web</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/wolf.yassine/"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/105256442541073228426/posts"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABsdt3kBGirAFsRXzWWYQlK6ZpMnrTb2t-Q&authType=NAME_SEARCH&authToken=luRH&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A454932345%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533726855%2Ctas%3Aya"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>





                 <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/bouyer.jpg') }}" alt="xxx" class="img-rounded img-responsive"></a>
                        <div class="block-animation">

                            <h3>Mme. BOUYER <br><span>Développeuse Web</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/clara.bouh.16"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABsvf9cBDdURQJfUcYKGO0R-2LW6fw7zjc8&authType=NAME_SEARCH&authToken=sgTd&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A456097751%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533625622%2Ctas%3Aclar"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/cauquy.jpg') }}" alt="xxx" class="img-rounded img-responsive"></a>
                        <div class="block-animation">

                            <h3>M. CAUQUY <br><span>Développeur Application</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/jessy.youghourt"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABrPR_sBLhfvLR-GzlpJbwsDc7IpVimwQL8&authType=NAME_SEARCH&authToken=tU4R&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A449791995%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533996716%2Ctas%3Ajessy"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/paulin.jpg') }}" alt="xxx" class="img-rounded img-responsive"></a>
                        <div class="block-animation">

                            <h3>M. PAULIN <br><span>Développeur Application</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/nicolas.paulin.315"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/104241632761545342017/posts"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAIAABsu05UBCHg7prpwiYMMMWsjjaaWp_kxSdY&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/carreaux.jpg') }}" alt="xxx" class="img-rounded img-responsive"></a>
                        <div class="block-animation">

                            <h3>M. CARREAUX <br><span>Développeur Application</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/baptiste.carreaux"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABsxqi0BZdcx0TPSEy2vtYIeBdY2wKiWCvk&authType=NAME_SEARCH&authToken=cIgw&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A456239661%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533973923%2Ctas%3Abaptiste%20carrea
"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



                 <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="groupe-detail">
                        <a href="#"><img src="{{ url_for('static', filename='image/limoges.jpg') }}" alt="xxx" class="img-rounded img-responsive"></a>
                        <div class="block-animation">

                            <h3>M. LIMOGES<br><span>Développeur Application</span></h3>
                            <div class="text-center sosical-team">
                                <a href="https://www.facebook.com/glimoges"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/118160340429839613456/posts"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAkAABsunH4BTOrcuJi-29EBsoXyhTDI0SxL-J8&authType=NAME_SEARCH&authToken=oFJR&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A456039550%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1452533668168%2Ctas%3Aguillau"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
