

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
{% extends "bootstrap/base.html" %}
{% block title %}{{ title}}{% endblock %}
	{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='connex_inscrip.css') }}">
	{% endblock %}


{% block navbar %}

{% if message %}
		<div class="alert alert-danger" role="alert"> {{ message }} </div>
{% endif %}

<form  method="POST" action="{{ url_for('inscription_user') }}">
{{ form.hidden_tag() }}
<div class="inscription">

	
	<div class="html-inscription">
	<a href="{{ url_for('home') }}" >
	<div id="close-button">
		</div>
		</a>
		<img src="../static/image/logo.png" alt="logo" />
		<div class="forme">
			<div class="sign-in-htm">
				<div class="group">

					<label for="user" class="label">Pseudo</label>
					<input id="user" type="text" class="input" name="pseudo" requied="required">
				</div>

				<div class="group">
					<label for="pass" class="label">Nom </label>
					<input id="pass" type="text" class="input" name="nom" requied="required">
				</div>

				<div class="group">
					<label for="pass" class="label">Prenom </label>
					<input id="pass" type="text" class="input" name="prenom" requied="required">
				</div>
				<div class="group">
					<label for="pass" class="label">Mot de passe</label>
					<input id="pass" type="password" class="input" data-type="password" name="mdp" requied="required">
				</div>
				<div class="group">
					<label for="pass" class="label">Confirmer mot de passe</label>
					<input id="pass" type="password" class="input" data-type="password" name="mdp2" requied="required">
				</div>
				<div class="group">
					<label for="pass" class="label">Email </label>
					<input id="pass" type="text" class="input" name="mail" requied="required">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Valider">
				</div>
			
		

				<div class="hr"></div>
				<div class="foot">
					<a href="{{ url_for('connexion') }}">Déja un compte ?</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
</form>

<div class="agar" > 
<script type="text/javascript" src="../static/premier-page.js"  ></script>
</div>
{% endblock %}
