
{% extends "base.html" %}




    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='classements.css') }}">

    {% endblock %}

      {% block scripts %}
    {{super()}}
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
    </script>
    <script src="{{url_for('.static', filename='classements.js')}}"></script>

  <script>
	  function repl(idj, idm){
		var joueur = $('#'+idj+' option:selected').text();
		if(joueur.length === 0){return;}
		var op = document.createElement('option');
		op.value=joueur;
		op.appendChild(document.createTextNode(joueur));
		document.getElementById(idm).appendChild(op);

		var children = document.getElementById(idj).childNodes;
		for(var i = 1; i < children.length; i+=1){
			if(children[i].textContent.length !== 15 && children[i].textContent === joueur){
				document.getElementById(idj).removeChild(children[i]);
				break;
			}
		}
	  }
	function affiche(){
		var children = document.getElementById('membres').children;
		var l = Array();
		for(var i  = 0; i < children.length; i++){

			l.push(children[i].text);
		}
		console.log(l);
	}
  </script>




  {% endblock %}

{% block contentbase %}
<div class="container">
	<ul class="list">
      <li class="ajout_groupe">
        <h3> Nom du groupe </h3>
        <input id="nom_groupe" type="text" class="input" name="nom_groupe">

        <h3> Description du groupe </h3>
        <input id="description_groupe" type="text" class="input" name="description_groupe">
      </li>

		 <li class="selection">
			<select name="joueurs" id="joueurs" size=7>
				{% for j in joueurs%}
					<option value="{{ j }}">{{ j }}</option>
				{% endfor %}
			</select>
			<br>
			<button type="btnAjout" onclick="repl('joueurs','membres')" class="btn btn-primary btn-lg"> Ajouter joueur </button>
		</li>

		<li class="membres">
			<select name="groupe" id="membres" size=7>
			</select>
			<br>
			<button type="button" onclick="repl('membres', 'joueurs')" class="btn btn-success btn-lg"> Supprimer joueur </button>
		</li>
	</ul>
</div>


      <div>
<!--
      <a href="{{ url_for('acceuil_admini') }}">
-->

<!--
		<div class="group">
			<input type="submit" class="button" value="Valider">
		</div>
-->
<a href="{{ url_for('acceuil_admini') }}" button type="button" class="btn btn-success btn-lg"> Valider </button> </a>
<a href="{{ url_for('acceuil_admini') }}" button type="button" class="btn btn-primary btn-lg"> Retour </button> </a>
      </div>

{% endblock %}
